<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'header-link.html' %}
        <title>Contact us | Iconnect</title>
        <script>
            (function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "TAG_ID" }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
        </script>
        <meta name="description"
            content="Iconnect tries to be most responsive to your inquiries and mails. If you've any queries feel free to contact us." />
        <meta name="keywords" content="Contact us | Iconnect" />
        
    </head>

    <body>
        <noscript><img height="1" alt="a3logics" width="1" style="display:none"
                src="https://www.facebook.com/tr?id=251998155708803&ev=PageView&noscript=1" /></noscript>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRLS7L5" height="0" width="0"
                style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include 'header.html' %}
        <main class="contact-us">
            <section class="page-tile-section">
                <div class="shape-div">
                    <span class="dote dote-orange"></span>
                    <span class="dote dote-gradient"></span>
                    <span class="dote dote-orange right"></span>
                    <span class="dote dote-gradient right"></span>
                    <img class="title-shape-1" src="https://cdn.a3logics.com/images/page-title-shape-1.png"
                        alt="shapes">
                    <img class="title-shape-2" src="https://cdn.a3logics.com/images/page-title-shape-2.png"
                        alt="shapes">
                </div>
                <div class="container-fluid">
                    <div class="title-content">
                        <h1 class="wow bounceInLeft" data-wow-delay="0.1s">Contact Us</h1>
                        <p class="wow bounceInLeft" data-wow-delay="0.2s">Connect With Us To Bring Ground Breaking
                            Technology Revolutions!</p>
                        <ul class="wow bounceInLeft" data-wow-delay="0.3s">
                            <li><a href="/">Home - </a></li>
                            <li class="text-last">Contact Us</li>
                        </ul>
                    </div>

                </div>
            </section>
            <div class="more-services-list">
                <ul>
                    <li class="wow bounceInLeft" data-wow-delay="0.1s">
                        <div class="feature-box sky not-anchor">
                            <h2><span>128+</span> Projects</h2>
                        </div>
                    </li>
                    <li class="wow bounceInLeft" data-wow-delay="0.2s">
                        <div class="feature-box orange not-anchor">
                            <h2><span>6+ years</span> of industry leadership</h2>
                        </div>
                    </li>
                    <li class="wow bounceInLeft" data-wow-delay="0.3s">
                        <div class="feature-box blue not-anchor">
                            <h2><span>53+</span> Tech experts</h2>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <section class="welcomes-unique-section pb-0">
                <div class="container-fluid">
                    <div class="welcomes-unique-contant">
                        <div class="row align-items-center">
                            <div class="col-lg-7 wow fadeInUp">
                                <div class="heading-block ">
                                    <h2>We Are Here</h2>
                                    <p>To be a multicultural, global IT product engineering & professional services
                                        company that aims to foster innovation & provide business transformation for our
                                        clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  -->
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="animation fadeInRight animation-active">
                        <style>
                            .bg-box-custom{
                                background-color: rgb(255, 255, 255);
                                padding: 20px;
                                margin-right: 30px;
                                border-radius: 20px;
                                box-shadow: 1px 1px 10px 1px rgb(192, 192, 192);
                            }
                        </style>
                    <div class="bg-box-custom">
                        <h2 style="text-align: center;">Tanzania</h2>

                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1e3497" class="bi bi-geo-alt-fill"
                                    viewBox="0 0 16 16">
                                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                </svg>
                                <span style="margin-left: 10px;">Dar-es-salaam, Sokoine drive plot No. 233</span>
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1e3497" class="bi bi-archive-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
                                </svg>
                                <span style="margin-left: 10px;">P.O BOX 10924</span>
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1e3497" class="bi bi-telephone-fill"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                </svg>
                                <span style="margin-left: 10px;">+255736707814</span>
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1e3497" class="bi bi-telephone-plus-fill"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                                <span style="margin-left: 10px;">+255624455745</span>
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#1e3497" class="bi bi-envelope-fill"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                </svg>
                                <span style="margin-left: 10px;">sample@email.com</span>
                            </p>
  
                    </div>
                        
                    </div>
                </div>
                <div class="col-lg-6"> <img
                        class="img-fluid center-block animation fadeInRightBig animation-active  d-none d-md-block"
                        src="/static/images/contact-us.svg" alt="Codeigniter Framework"> </div>
            </div>
        </div>
        <div style="margin-top: 50px;"></div>
        </main>
        <section class="contact-section" style="background: linear-gradient(#f1cbb9, #fff);">
            <div class="container-fluid">
                <div>
                    <section class="newsletter mb-60">
                        <div class="newsletter__wrapper">
                            <div class="container">
                                <div class="row align-items-lg-center">
                                    
                                    <div class="col-lg-6 mb-30">
                                        <div class="newsletter__img"> <img src="https://d3udz4oemakqni.cloudfront.net/images/girl2.png"
                                                alt="image"> </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <style>
                                            .bg-box-comment {
                                               
                                                box-shadow: px 0px 0px 0px white;border-radius: 10px; border-color: black;
                                            }
                                        </style>
                                       <div class="">
                                        <h3>Let's discuss your project</h3>
                                        <div style="margin-top: 20px;"></div>
                                        <form method="post" class="form" id="contact_form" action="/contact-us/">
                                            {% csrf_token %}
                                            <div >
                                                <input id="i1" type="text" name="full_name" placeholder="Full Name" class="form-control bg-box-comment">
                                                <input id="i2" type="text" name="company_name" placeholder="Company Name" class="form-control bg-box-comment">
                                                <input id="i3" type="text" name="email_address" placeholder="Email Address" class="form-control bg-box-comment">
                                                <input id="i4" type="text" name="phone_number" placeholder="Phone Number" class="form-control bg-box-comment">
                                                <textarea id="i5" placeholder="Message" name="message" id="" cols="30" rows="6" class="form-control bg-box-comment"></textarea>
                                            </div>
                                            <div class="col-sm-12 mt-3">
                                                <button type="submit" class="btn btn-primary" style="background-color: #4996cd;width: 100%;">Submit
                                                </button>
                                            </div>

                                        </form>
                                        <script>
                                            let contactForm = document.getElementById('contact_form')
                                            contactForm.addEventListener('submit', function (e) {
                                                e.preventDefault();
                                                let thisForm = e.target
                                                const method = thisForm.getAttribute('method');
                                                const endpoint = thisForm.getAttribute('action');
                                                let data = new FormData(thisForm);
                                                let xhr = new XMLHttpRequest();
                                                xhr.open('post', endpoint, true);
                                                // console.log(thisForm)
                                                // // const csrftoken = getCookie('csrftoken');
                                                // // xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                                xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
                                                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
                                                xhr.responseText = 'json'
                                                xhr.onload = () => {

                                                }

                                                i1 = document.getElementById('i1')
                                                i2 = document.getElementById('i2')
                                                i3 = document.getElementById('i3')
                                                i4 = document.getElementById('i4')
                                                i5 = document.getElementById('i5')

                                                i1.value = ''
                                                i2.value = ''
                                                i3.value = ''
                                                i4.value = ''
                                                i5.value = ''
                                                alert('Your comment has been sent successfully')
                                                xhr.onerror = () => {
                                                    alert('There is an error')
                                                    // console.log(xhr.error)
                                                }
                                                xhr.send(data)

                                            })
                                        </script>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </section>
        {% include 'footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/bootstrap.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/wow.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/extra.js?v=0.0085"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/jquery-validate/jquery.validate.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/jquery-validate/validation-init.js?v=0.0085"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/js.cookie.min.js"></script>


    </body>

</html>
