<footer class="footer">
    <div class="xb-block">
        <div class="footer-list-container">
            <ul class="footer-list">
                <li class="footer-list__row">
                    <a href="/services/" title="" class="footer-list__title link">Services</a>

                    <ul class="footer-list__inside">
                        <li class="footer-list__row-inside">
                            <a href="/services/" title="" class="footer-list__link">Custom Software
                                Development</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/web-app-dev/custom-web-application-development/" title=""
                                class="footer-list__link">Web Application Development</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/app-modernization-service/" title="" class="footer-list__link">Application
                                Modernization</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/ui-ux-development-service/" title="" class="footer-list__link">UX/UI
                                Development and Design</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/qa-software-testing/" title="" class="footer-list__link">QA and
                                Software Testing</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/webix-customization-development/" title="" class="footer-list__link">Webix
                                Customization</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/dhtmlx-customization-development/" title="" class="footer-list__link">DHTMLX
                                Customization</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/hire-dedicated-web-developers-team/" title="" class="footer-list__link">Dedicated
                                Developers Team</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/it-staff-augmentation-services/" title="" class="footer-list__link">IT
                                Staff Augmentation Services</a>
                        </li>

                        <li class="footer-list__row-inside lh0">
                            <a href="/free-consultation/" title="" class="free-consultation-link">
                                <span class="free-consultation-link__label">Free Consultation</span>
                            </a>
                        </li>

                        <li class="footer-list__row-inside">
                            <div class="social-links">
                                <a href="//www.facebook.com/xbsoftware" title="" class="soc-btn" target="_blank">
                                    <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                        <path class="soc-btn__icon line"
                                            d="M15.19 1.004L12.65 1C9.797 1 7.953 2.932 7.953 5.922v2.27H5.399c-.22 0-.399.182-.399.407v3.289c0 .225.179.407.4.407h2.553v8.297c0 .226.179.408.4.408h3.33c.221 0 .4-.183.4-.408v-8.297h2.986c.22 0 .399-.182.399-.407l.001-3.289a.413.413 0 00-.117-.288.395.395 0 00-.282-.12h-2.987V6.268c0-.925.216-1.394 1.395-1.394l1.711-.001c.22 0 .4-.183.4-.408V1.412a.404.404 0 00-.4-.408z">
                                        </path>
                                    </svg>
                                </a>

                                <a href="//twitter.com/xbsoftware" title="" class="soc-btn" target="_blank">
                                    <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                        <path class="soc-btn__icon line"
                                            d="M8.461 19.41c-.865 0-1.755-.07-2.65-.21-1.578-.249-3.174-1.076-3.626-1.324L1 17.226l1.283-.422c1.402-.462 2.255-.75 3.312-1.198-1.058-.514-1.873-1.437-2.265-2.631l-.299-.908.245.037a4.46 4.46 0 01-.557-.689c-.505-.77-.773-1.71-.716-2.515l.056-.793.474.184a4.445 4.445 0 01-.43-1.205 4.597 4.597 0 01.488-3.088l.412-.76.552.665C5.3 6.004 7.51 7.25 10.132 7.615c-.107-.74-.027-1.454.239-2.095.309-.745.859-1.378 1.59-1.828a4.768 4.768 0 012.773-.683 4.423 4.423 0 012.723 1.126c.364-.095.633-.197.996-.334.219-.082.467-.176.777-.283l1.142-.395-.745 2.134c.05-.004.1-.008.153-.01L21 5.19l-.721.989-.067.094c-.058.088-.13.197-1.12 1.522a1.873 1.873 0 00-.348 1.218c.087 1.721-.123 3.28-.627 4.63a8.195 8.195 0 01-2.194 3.258c-1.212 1.094-2.757 1.843-4.593 2.226-.9.188-1.868.282-2.869.282z">
                                        </path>
                                    </svg>
                                </a>

                                <a href="//www.linkedin.com/company/xb-software-ltd/about/" title="" class="soc-btn"
                                    target="_blank">
                                    <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                        <path class="soc-btn__icon line"
                                            d="M21 12.672v7.366h-4.287v-6.872c0-1.727-.62-2.905-2.171-2.905-1.185 0-1.89.794-2.2 1.562-.113.275-.142.657-.142 1.041v7.174H7.912s.058-11.64 0-12.846H12.2v1.821l-.029.042h.029v-.042c.57-.874 1.587-2.122 3.864-2.122C18.885 6.89 21 8.727 21 12.672zM3.426 1C1.96 1 1 1.959 1 3.22c0 1.232.932 2.22 2.37 2.22h.028c1.496 0 2.426-.988 2.426-2.22C5.795 1.958 4.894 1 3.426 1zM1.255 20.038H5.54V7.192H1.255v12.846z">
                                        </path>
                                    </svg>
                                </a>

                                <a href="//instagram.com/xbsoftware/" title="" class="soc-btn" target="_blank">
                                    <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                        <path class="soc-btn__icon line"
                                            d="M15.48 2A5.526 5.526 0 0121 7.52v8.96A5.526 5.526 0 0115.48 22H6.52A5.525 5.525 0 011 16.48V7.52A5.526 5.526 0 016.52 2zM11 6.865A5.141 5.141 0 005.865 12 5.14 5.14 0 0011 17.135 5.14 5.14 0 0016.135 12 5.141 5.141 0 0011 6.865zm0 1.768A3.37 3.37 0 0114.367 12 3.37 3.37 0 0111 15.367 3.37 3.37 0 017.633 12 3.37 3.37 0 0111 8.633zm5.405-3.39a1.357 1.357 0 00-1.35 1.352c0 .355.144.704.396.955.25.251.6.396.954.396.357 0 .704-.145.956-.396s.396-.6.396-.955c0-.357-.144-.706-.396-.956-.25-.252-.6-.396-.956-.396z">
                                        </path>
                                    </svg>
                                </a>

                                <a href="//www.pinterest.com/xbsoftware/" title="" class="soc-btn" target="_blank">
                                    <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                        <path class="soc-btn__icon line"
                                            d="M11.444 2C5.932 2 3 5.513 3 9.343c0 1.776.998 3.991 2.596 4.694.243.109.375.062.429-.161.047-.17.257-.99.36-1.376a.352.352 0 00-.086-.347c-.53-.61-.952-1.721-.952-2.764 0-2.671 2.136-5.265 5.77-5.265 3.143 0 5.342 2.03 5.342 4.934 0 3.281-1.746 5.551-4.015 5.551-1.256 0-2.192-.98-1.895-2.192.358-1.444 1.061-2.997 1.061-4.038 0-.934-.53-1.706-1.614-1.706-1.279 0-2.316 1.259-2.316 2.949 0 1.073.382 1.798.382 1.798l-1.5 6.03c-.397 1.606.055 4.207.094 4.43.024.125.163.163.241.062.125-.162 1.653-2.331 2.082-3.899.156-.571.796-2.887.796-2.887.42.756 1.636 1.39 2.931 1.39 3.852 0 6.635-3.367 6.635-7.544C19.328 4.996 15.881 2 11.444 2z">
                                        </path>
                                    </svg>
                                </a>

                                <a href="//www.youtube.com/user/XBSoftwareTube" title="" class="soc-btn"
                                    target="_blank">
                                    <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                        <path class="soc-btn__icon line"
                                            d="M11.247 4c1.177.006 6.2.051 7.578.428.857.23 1.532.906 1.763 1.763.386 1.408.41 4.19.412 4.733v.092s0 3.245-.412 4.81a2.505 2.505 0 01-1.763 1.762C17.26 18 11 18 11 18s-6.244 0-7.825-.428a2.506 2.506 0 01-1.763-1.763c-.357-1.341-.405-3.97-.411-4.647v-.323c.006-.674.054-3.292.41-4.648a2.557 2.557 0 011.764-1.78c1.378-.362 6.4-.405 7.577-.41zM9 8v6l5.2-3L9 8z">
                                        </path>
                                    </svg>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="footer-list second">
                <li class="footer-list__row">
                    <a href="/solutions/" title="" class="footer-list__title link">Industries</a>

                    <ul class="footer-list__inside">
                        <li class="footer-list__row-inside">
                            <a href="/enterprise-application-software/" title=""
                                class="footer-list__link">Enterprise</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/logistics-software-development/" title="" class="footer-list__link">Logistics</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/education-software-development/" title="" class="footer-list__link">Education</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/real-estate-software-development/" title="" class="footer-list__link">Real
                                Estate</a>
                        </li>
                    </ul>
                </li>

                <li class="footer-list__row">
                    <a href="/products/" title="" class="footer-list__title link">Our Products</a>
                </li>

                <li class="footer-list__row">
                    <a href="/technology-expertise/" title="" class="footer-list__title link">Technologies</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li class="footer-list__row">
                    <a href="/about-us/" title="" class="footer-list__title link">About Us</a>

                    <ul class="footer-list__inside">
                        <li class="footer-list__row-inside">
                            <a href="/how-we-work/" title="" class="footer-list__link">How We Work</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/technology-expertise/" title="" class="footer-list__link">Technology
                                Expertise</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/blog/" title="" class="footer-list__link">Blog</a>
                        </li>

                        <li class="footer-list__row-inside">
                            <a href="/faq/" title="" class="footer-list__link">FAQ</a>
                        </li>

                        <li class="footer-list__row-inside lh0">
                            <a href="//clutch.co/profile/xb-software" title="" class="clutch-logo js-bg" target="_blank"
                                rel="dofollow"></a>

                            <a href="//www.goodfirms.co/company/xb-software" title="" class="goodfirms-logo js-bg"
                                target="_blank" rel="dofollow"></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="footer-list">
                <li class="footer-list__row footer-info-row">
                    <span class="footer-list__title">United States</span>

                    <ul class="footer-list__inside">
                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label">7918 Jones Branch Drive, Suite 400, Tysons,
                                    VA 22102</div>
                            </div>
                        </li>

                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label js-antispam-email">usoffice</div>
                            </div>
                        </li>

                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label"><a href="tel:+17039176633" title="">+1 703
                                        917 66 33</a></div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="footer-list__row footer-info-row">
                    <span class="footer-list__title">Canada</span>

                    <ul class="footer-list__inside">
                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label">21 Sierra Court, Vaughan, Ontario, L6A 2E5
                                </div>
                            </div>
                        </li>

                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label js-antispam-email">canada</div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="footer-list__row footer-info-row">
                    <span class="footer-list__title">Belarus</span>

                    <ul class="footer-list__inside">
                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label">3a Kollektornaya Street, Minsk 220004,
                                    Belarus</div>
                            </div>
                        </li>

                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#mail"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label js-antispam-email">contact</div>
                            </div>
                        </li>

                        <li class="footer-list__row-inside">
                            <div class="footer-info">
                                <div class="footer-info__icon-elem">
                                    <svg viewBox="0 0 16 16" class="footer-info__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"
                                            class="footer-info__icon line"></use>
                                    </svg>
                                </div>

                                <div class="footer-info__label"><a href="tel:+375172000340" title="">+375 17
                                        200 03 40</a></div>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="footer-list__row lh0 footer-consultation-link">
                    <a href="/free-consultation/" title="" class="free-consultation-link">
                        <span class="free-consultation-link__label">Free Consultation</span>
                    </a>

                    <div class="social-links">
                        <a href="//www.facebook.com/xbsoftware" title="" class="soc-btn" target="_blank">
                            <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                <path class="soc-btn__icon line"
                                    d="M15.19 1.004L12.65 1C9.797 1 7.953 2.932 7.953 5.922v2.27H5.399c-.22 0-.399.182-.399.407v3.289c0 .225.179.407.4.407h2.553v8.297c0 .226.179.408.4.408h3.33c.221 0 .4-.183.4-.408v-8.297h2.986c.22 0 .399-.182.399-.407l.001-3.289a.413.413 0 00-.117-.288.395.395 0 00-.282-.12h-2.987V6.268c0-.925.216-1.394 1.395-1.394l1.711-.001c.22 0 .4-.183.4-.408V1.412a.404.404 0 00-.4-.408z">
                                </path>
                            </svg>
                        </a>

                        <a href="//twitter.com/xbsoftware" title="" class="soc-btn" target="_blank">
                            <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                <path class="soc-btn__icon line"
                                    d="M8.461 19.41c-.865 0-1.755-.07-2.65-.21-1.578-.249-3.174-1.076-3.626-1.324L1 17.226l1.283-.422c1.402-.462 2.255-.75 3.312-1.198-1.058-.514-1.873-1.437-2.265-2.631l-.299-.908.245.037a4.46 4.46 0 01-.557-.689c-.505-.77-.773-1.71-.716-2.515l.056-.793.474.184a4.445 4.445 0 01-.43-1.205 4.597 4.597 0 01.488-3.088l.412-.76.552.665C5.3 6.004 7.51 7.25 10.132 7.615c-.107-.74-.027-1.454.239-2.095.309-.745.859-1.378 1.59-1.828a4.768 4.768 0 012.773-.683 4.423 4.423 0 012.723 1.126c.364-.095.633-.197.996-.334.219-.082.467-.176.777-.283l1.142-.395-.745 2.134c.05-.004.1-.008.153-.01L21 5.19l-.721.989-.067.094c-.058.088-.13.197-1.12 1.522a1.873 1.873 0 00-.348 1.218c.087 1.721-.123 3.28-.627 4.63a8.195 8.195 0 01-2.194 3.258c-1.212 1.094-2.757 1.843-4.593 2.226-.9.188-1.868.282-2.869.282z">
                                </path>
                            </svg>
                        </a>

                        <a href="//www.linkedin.com/company/xb-software-ltd/about/" title="" class="soc-btn"
                            target="_blank">
                            <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                <path class="soc-btn__icon line"
                                    d="M21 12.672v7.366h-4.287v-6.872c0-1.727-.62-2.905-2.171-2.905-1.185 0-1.89.794-2.2 1.562-.113.275-.142.657-.142 1.041v7.174H7.912s.058-11.64 0-12.846H12.2v1.821l-.029.042h.029v-.042c.57-.874 1.587-2.122 3.864-2.122C18.885 6.89 21 8.727 21 12.672zM3.426 1C1.96 1 1 1.959 1 3.22c0 1.232.932 2.22 2.37 2.22h.028c1.496 0 2.426-.988 2.426-2.22C5.795 1.958 4.894 1 3.426 1zM1.255 20.038H5.54V7.192H1.255v12.846z">
                                </path>
                            </svg>
                        </a>

                        <a href="//instagram.com/xbsoftware/" title="" class="soc-btn" target="_blank">
                            <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                <path class="soc-btn__icon line"
                                    d="M15.48 2A5.526 5.526 0 0121 7.52v8.96A5.526 5.526 0 0115.48 22H6.52A5.525 5.525 0 011 16.48V7.52A5.526 5.526 0 016.52 2zM11 6.865A5.141 5.141 0 005.865 12 5.14 5.14 0 0011 17.135 5.14 5.14 0 0016.135 12 5.141 5.141 0 0011 6.865zm0 1.768A3.37 3.37 0 0114.367 12 3.37 3.37 0 0111 15.367 3.37 3.37 0 017.633 12 3.37 3.37 0 0111 8.633zm5.405-3.39a1.357 1.357 0 00-1.35 1.352c0 .355.144.704.396.955.25.251.6.396.954.396.357 0 .704-.145.956-.396s.396-.6.396-.955c0-.357-.144-.706-.396-.956-.25-.252-.6-.396-.956-.396z">
                                </path>
                            </svg>
                        </a>

                        <a href="//www.pinterest.com/xbsoftware/" title="" class="soc-btn" target="_blank">
                            <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                <path class="soc-btn__icon line"
                                    d="M11.444 2C5.932 2 3 5.513 3 9.343c0 1.776.998 3.991 2.596 4.694.243.109.375.062.429-.161.047-.17.257-.99.36-1.376a.352.352 0 00-.086-.347c-.53-.61-.952-1.721-.952-2.764 0-2.671 2.136-5.265 5.77-5.265 3.143 0 5.342 2.03 5.342 4.934 0 3.281-1.746 5.551-4.015 5.551-1.256 0-2.192-.98-1.895-2.192.358-1.444 1.061-2.997 1.061-4.038 0-.934-.53-1.706-1.614-1.706-1.279 0-2.316 1.259-2.316 2.949 0 1.073.382 1.798.382 1.798l-1.5 6.03c-.397 1.606.055 4.207.094 4.43.024.125.163.163.241.062.125-.162 1.653-2.331 2.082-3.899.156-.571.796-2.887.796-2.887.42.756 1.636 1.39 2.931 1.39 3.852 0 6.635-3.367 6.635-7.544C19.328 4.996 15.881 2 11.444 2z">
                                </path>
                            </svg>
                        </a>

                        <a href="//www.youtube.com/user/XBSoftwareTube" title="" class="soc-btn" target="_blank">
                            <svg viewBox="0 0 22 22" class="soc-btn__icon">
                                <path class="soc-btn__icon line"
                                    d="M11.247 4c1.177.006 6.2.051 7.578.428.857.23 1.532.906 1.763 1.763.386 1.408.41 4.19.412 4.733v.092s0 3.245-.412 4.81a2.505 2.505 0 01-1.763 1.762C17.26 18 11 18 11 18s-6.244 0-7.825-.428a2.506 2.506 0 01-1.763-1.763c-.357-1.341-.405-3.97-.411-4.647v-.323c.006-.674.054-3.292.41-4.648a2.557 2.557 0 011.764-1.78c1.378-.362 6.4-.405 7.577-.41zM9 8v6l5.2-3L9 8z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="footer-list__row-inside">
            <div class="footer-reviews">
                <span itemprop="itemreviewed">Rating of "XB Software" Company 4.9</span>
                <span class="reviews-span">★★★★★</span> based on <a href="https://goo.gl/maps/tFxJc2wAq99XV8BM7"
                    title="" target="_blank">reviews</a> of
                <span itemprop="reviews-votes" class="reviews-votes">34</span> customers
            </div>
        </div>
        <div class="footer__footer">
            <div class="copyright">&copy; 2021 XB Software Ltd. Software Development Company. All rights
                reserved</div>

            <div class="">
                <a href="/privacy-policy/" title="" class="privacy-policy-link">Privacy policy</a>

                <div class="copyscape-banner js-bg"></div>
            </div>
        </div>
    </div>
</footer>
