<header class="header desktop-version">
    <div class="top-header standard-top-header">
        <div class="js-menu-panel menu-panel">
            <div class="xb-block">
                <a href="/" title="" class="xb-logo">
                    <!-- <svg viewBox="0 0 150 48" class="xb-logo__svg">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo" class="xb-logo__use"></use>
                    </svg> -->
                    <div  class="xb-logo__svg">
                        <img src="/static/icon/logo.svg" alt=""  class="xb-logo__use">
                    </div>
                    
                </a>

                <div class="header-nav-panel js-mobile-menu">
                    <div class="mobile-menu-nav js-mobile-menu-nav">
                        <a href="/" title="" class="xb-logo">
                            <svg viewBox="0 0 150 48" class="xb-logo__svg">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo" class="xb-logo__use">
                                </use>
                            </svg>
                        </a>

                        <div class="back-menu-link js-back-menu-link">
                            <div class="back-menu-link__arrow">
                                <svg viewBox="0 0 18 19" class="back-menu-icon">
                                    <path class="back-menu-icon line"
                                        d="M6.99 3L0 10.064 6.99 17l1.414-1.414L3.774 11H18V9H3.879l4.525-4.586L6.99 3z">
                                    </path>
                                </svg>
                            </div>

                            <div class="back-menu-link__label">Back</div>
                        </div>

                        <div class="close-mobile-menu js-close-mobile-menu"></div>
                    </div>


                    <div class="nav-list">
                        <div class="nav-list__row">
                            <a href="/services/" title="" class="nav-list__link js-nav-list-link">
                                <span class="nav-list__label">Services</span>


                                <span class='link-chevron'>
                                    <svg viewBox="0 0 7 7" class="link-chevron-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron"
                                            class="link-chevron-icon line"></use>
                                    </svg>
                                </span>
                            </a>

                            <div class="nav-list__inside">
                                <div class="nav-list__inside-body">
                                    <div class="nav-list-title-elem">
                                        <span class="nav-list-title">
                                            <span class="nav-list-title__label">Services</span>
                                        </span>
                                    </div>

                                    <div class="nav-list__list">
                                        <div class="nav-list__item">
                                            <a href="/services/" title="" class="nav-list-subtitle js-mobile-to-menu">
                                                <span class="nav-list-subtitle__label">Custom Software
                                                    Development</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>

                                            <div class="nav-list__inside-list">
                                                <div class="nav-list__inside-list-row">
                                                    <a href="/services/" title=""
                                                        class="nav-list-inside-subtitle">Custom Software
                                                        Development</a>

                                                    <a href="/web-app-dev/custom-web-application-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Web Application
                                                            Development</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/web-app-dev/saas-application-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">SaaS Application
                                                            Development</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/web-app-dev/cloud-software-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Cloud Software
                                                            Development</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/web-app-dev/single-page-application-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Single Page
                                                            Application Development</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-list__item-some-titles">
                                            <div class="nav-list__item">
                                                <a href="/ai-software-development/" title="" class="nav-list-subtitle">
                                                    <span class="nav-list-subtitle__label">AI Software
                                                        Development</span>


                                                    <span class='nav-list-subtitle__icon'>
                                                        <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xlink:href="#arr-small" class="link-arr-icon line">
                                                            </use>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>

                                            <div class="nav-list__item">
                                                <a href="/mobile-application-development/" title=""
                                                    class="nav-list-subtitle js-mobile-to-menu">
                                                    <span class="nav-list-subtitle__label">Mobile
                                                        Application Development</span>


                                                    <span class='nav-list-subtitle__icon'>
                                                        <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xlink:href="#arr-small" class="link-arr-icon line">
                                                            </use>
                                                        </svg>
                                                    </span>
                                                </a>

                                                <div class="nav-list__inside-list">
                                                    <div class="nav-list__inside-list-row">
                                                        <a href="/mobile-application-development/" title=""
                                                            class="nav-list-inside-subtitle">Mobile
                                                            Application Development</a>

                                                        <a href="/mobile-application-development/cross-platform-app-development/"
                                                            title="" class="nav-list-link">
                                                            <span class="nav-list-link__label">Cross
                                                                Platform App Development</span>


                                                            <span class='nav-list-link__icon'>
                                                                <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        xlink:href="#arr-small"
                                                                        class="link-arr-icon line"></use>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-list__item">
                                            <span class="nav-list-subtitle js-mobile-to-menu">
                                                <span class="nav-list-subtitle__label">Product
                                                    Customization</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </span>

                                            <div class="nav-list__inside-list">
                                                <div class="nav-list__inside-list-row">
                                                    <span class="nav-list-inside-subtitle">Product
                                                        Customization</span>

                                                    <a href="/dhtmlx-customization-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">DHTMLX
                                                            Customization</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/webix-customization-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Webix
                                                            Customization</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/app-modernization-service/" title="" class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">Application
                                                    Modernization</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/it-outsourcing-services/" title="" class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">IT Outsourcing
                                                    Services</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/qa-software-testing/" title="" class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">QA and Software
                                                    Testing</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/ui-ux-development-service/" title="" class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">UX/UI Development and
                                                    Design</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/software-development-for-startups/" title=""
                                                class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">Services for
                                                    Startups</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/hire-dedicated-web-developers-team/" title=""
                                                class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">Dedicated Developers
                                                    Team</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/free-consultation/" title="" class="free-consultation-menu">
                                                <span class="free-consultation-menu__label">Free
                                                    Consultation</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="nav-list__row">
                            <a href="/solutions/" title="" class="nav-list__link js-nav-list-link">
                                <span class="nav-list__label">Industries</span>


                                <span class='link-chevron'>
                                    <svg viewBox="0 0 7 7" class="link-chevron-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron"
                                            class="link-chevron-icon line"></use>
                                    </svg>
                                </span>
                            </a>

                            <div class="nav-list__inside">
                                <div class="nav-list__inside-body">
                                    <div class="nav-list-title-elem">
                                        <a href="/solutions/" title="" class="nav-list-title">
                                            <span class="nav-list-title__label">Industries</span>


                                            <span class='nav-list-title__icon'>
                                                <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                        xlink:href="#arr-small" class="link-arr-icon line">
                                                    </use>
                                                </svg>
                                            </span>
                                        </a>
                                    </div>

                                    <div class="nav-list__list">
                                        <div class="nav-list__item">
                                            <a href="/enterprise-application-software/" title=""
                                                class="nav-list-subtitle js-mobile-to-menu">
                                                <span class="nav-list-subtitle__label">Enterprise</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>

                                            <div class="nav-list__inside-list">
                                                <div class="nav-list__inside-list-row">
                                                    <a href="/enterprise-application-software/" title=""
                                                        class="nav-list-inside-subtitle">Enterprise</a>

                                                    <a href="/enterprise-resource-planning-software/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">ERP
                                                            Systems</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/crm-development/" title="" class="nav-list-link">
                                                        <span class="nav-list-link__label">CRM
                                                            Solutions</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/hr-software-development/" title="" class="nav-list-link">
                                                        <span class="nav-list-link__label">HRM
                                                            Systems</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/online-scheduling-software-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Booking
                                                            Systems</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/business-intelligence-solutions/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Business
                                                            Intelligence Solutions</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/data-visualization-software/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Data
                                                            Visualization Dashboards</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/project-management-software-development/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Project
                                                            Management Systems</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/logistics-software-development/" title=""
                                                class="nav-list-subtitle js-mobile-to-menu">
                                                <span class="nav-list-subtitle__label">Logistics</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>

                                            <div class="nav-list__inside-list">
                                                <div class="nav-list__inside-list-row">
                                                    <a href="/logistics-software-development/" title=""
                                                        class="nav-list-inside-subtitle">Logistics</a>

                                                    <a href="/fleet-management-software/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Fleet Management
                                                            Software</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/gps-tracking-software/" title="" class="nav-list-link">
                                                        <span class="nav-list-link__label">GPS Vehicle
                                                            Tracking Solutions</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/supply-chain-management-software/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Supply Chain
                                                            Management Software</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row mobile-hidden">
                                                    <a href="/real-estate-software-development/" title=""
                                                        class="nav-list-subtitle">
                                                        <span class="nav-list-subtitle__label">Real
                                                            Estate</span>


                                                        <span class='nav-list-subtitle__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row mobile-hidden">
                                                    <a href="/manufacturing-software-development/" title=""
                                                        class="nav-list-subtitle">
                                                        <span class="nav-list-subtitle__label">Manufacturing</span>


                                                        <span class='nav-list-subtitle__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-list__item">
                                            <a href="/education-software-development/" title=""
                                                class="nav-list-subtitle js-mobile-to-menu">
                                                <span class="nav-list-subtitle__label">Education</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>

                                            <div class="nav-list__inside-list">
                                                <div class="nav-list__inside-list-row">
                                                    <a href="/education-software-development/" title=""
                                                        class="nav-list-inside-subtitle">Education</a>

                                                    <a href="/custom-elearning-software/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">Custom eLearning
                                                            Development</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div class="nav-list__inside-list-row">
                                                    <a href="/school-management-administration-software/" title=""
                                                        class="nav-list-link">
                                                        <span class="nav-list-link__label">School Management
                                                            Software</span>


                                                        <span class='nav-list-link__icon'>
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>

                                                <div
                                                    class="nav-list__inside-list-row nav-list__inside-list-row--construction mobile-hidden">
                                                    <a href="/construction-software-development/" title=""
                                                        class="nav-list-subtitle">
                                                        <span class="nav-list-subtitle__label">Construction
                                                            Software Development</span>

                                                        <span class="nav-list-subtitle__icon">
                                                            <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xlink:href="#arr-small" class="link-arr-icon line">
                                                                </use>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="nav-list__item desktop-hidden">
                                            <a href="/real-estate-software-development/" title=""
                                                class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">Real Estate</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item desktop-hidden">
                                            <a href="/manufacturing-software-development/" title=""
                                                class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">Manufacturing</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>

                                        <div class="nav-list__item desktop-hidden">
                                            <a href="/construction-software-development/" title=""
                                                class="nav-list-subtitle">
                                                <span class="nav-list-subtitle__label">Construction Software
                                                    Development</span>


                                                <span class='nav-list-subtitle__icon'>
                                                    <svg viewBox="0 0 14 14" class="link-arr-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                            xlink:href="#arr-small" class="link-arr-icon line"></use>
                                                    </svg>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="nav-list__row">
                            <a href="/case-studies-webdev/" title="" class="nav-list__link">
                                <span class="nav-list__label">Portfolio</span>
                            </a>
                        </div>
                        <div class="nav-list__row">
                            <a href="/case-studies-webdev/" title="" class="nav-list__link">
                                <span class="nav-list__label">Blog</span>
                            </a>
                        </div>
                        <div class="nav-list__row">
                            <a href="/case-studies-webdev/" title="" class="nav-list__link">
                                <span class="nav-list__label">Contact</span>
                            </a>
                        </div>
                        <div class="nav-list__row">
                            <a href="/case-studies-webdev/" title="" class="nav-list__link">
                                <span class="nav-list__label">About us</span>
                            </a>
                        </div>

                    </div>

                    <div class="header-search">
                        <span class="search-open js-search-open">
                            <span class="search-icon">
                                <svg class="search-icon__svg" viewBox="0 0 16 16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"
                                        class="search-icon__use"></use>
                                </svg>
                            </span>
                        </span>

                        <div class="header-search-form js-mobile-search">
                            <div class="mobile-search-title">What are you searching for?</div>

                            <form action="https://xbsoftware.com/" method="get" id="searchform"
                                class="header-search-block disabled">
                                <input type="text" name="s" id="search" class="header-search-field" value=""
                                    placeholder="What would you like to find?" />
                                <input type="hidden" value="post" name="post_type" id="post_type" />

                                <button class="search-btn">
                                    <svg class="search-svg" viewBox="0 0 16 16">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"
                                            class="search-use"></use>
                                    </svg>
                                </button>
                            </form>

                            <div class="mobile-search-more">
                                <div class="mobile-search-more__title">You might be looking for this:</div>

                                <div class="mobile-search-more__links">
                                    <div class="mobile-search-more__link-elem">
                                        <a href="/webix-customization-development/" title=""
                                            class="mobile-search-more__link">Webix customization</a>
                                    </div>

                                    <div class="mobile-search-more__link-elem">
                                        <a href="/how-we-work/" title="" class="mobile-search-more__link">Workflow</a>
                                    </div>

                                    <div class="mobile-search-more__link-elem">
                                        <a href="/free-consultation/" title="" class="mobile-search-more__link">Free
                                            Consultation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="/contact-us/" title="" class="contact-us">
                        <span class="contact-us__label">Contact Us</span>
                    </a>
                </div>

                <div class="mobile-menu-btn js-open-menu-btn">
                    <div class="mobile-menu-btn__row r1"></div>

                    <div class="mobile-menu-btn__row r2"></div>

                    <div class="mobile-menu-btn__row r3"></div>
                </div>
            </div>
        </div>
    </div>
</header>
