<!-- Required meta tags -->
<meta charset="utf-8">
<meta name='dmca-site-verification' content='Z2hqZWJGakcrRWpFVnJKTlZqR3FtUzZUUklKS0wyRy96MVllSDZYUkREST01' />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<script>
    (function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "TAG_ID" }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
</script>

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/images/icon.png">

<!--CSS -->
<link href="https://cdn.a3logics.com/utility/cssnew/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdn.a3logics.com/utility/cssnew/owl.theme.default.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.a3logics.com/utility/cssnew/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.a3logics.com/utility/fontawesome/css/all.css">
<link rel="stylesheet" href="https://cdn.a3logics.com/utility/cssnew/custom.css?v=0.0085">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.a3logics.com/utility/jsnew/owl.carousel.js"></script>
        

<link rel="stylesheet"
    href="https://cdn.a3logics.com/utility/cssnew/innerpages/ecommerce_software_solutions.css?v=0.0085">
