<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'header-link.html' %}
        <title>Our Services | Iconnect company</title>
        
        <meta name="description" content="Top Information and Communication Technology (ICT) services provider i n Tanzania, specifically on internet services provision, ICT equipment supply & installation, and software development.
        " />
        <meta name="keywords" content="Iconnect, our services" />

    </head>

    <body>
        {% include 'header.html' %}
        <main class="ecommerce-software-solutions">
            <section class="page-tile-section">
                <div class="shape-div">
                    <span class="dote dote-orange"></span>
                    <span class="dote dote-gradient"></span>
                    <span class="dote dote-orange right"></span>
                    <span class="dote dote-gradient right"></span>
                    <img class="title-shape-1" src="https://cdn.a3logics.com/images/page-title-shape-1.png"
                        alt="shapes">
                    <img class="title-shape-2" src="https://cdn.a3logics.com/images/page-title-shape-2.png"
                        alt="shapes">
                </div>
                <div class="container-fluid">
                    <div class="title-content">
                        <h1 class="wow bounceInLeft" data-wow-delay="0.1s">Our Services</h1>
                        <p class="wow bounceInLeft" data-wow-delay="0.2s">
                            Top Information and Communication Technology (ICT) services provider, 
                            specifically on internet services provision, ICT equipment supply &
                            installation, and software development.
                        </p>
                        <ul class="wow bounceInLeft" data-wow-delay="0.3s">
                            <li><a href="/">Home - </a></li>
                            <li class="text-last">Our Services</li>
                        </ul>
                    </div>
                    <div class="enquiry-form wow bounceInRight">
                        <h2>
                            Request a service
                        </h2>
                        <form method="post" class="form" novalidate>
                            {% csrf_token %}
                            <div>
                                <input type="text" placeholder="Full Name" class="form-control bg-box-comment">
                                <input type="text" placeholder="Company Name" class="form-control bg-box-comment">
                                <input type="text" placeholder="Email Address" class="form-control bg-box-comment">
                                <input type="text" placeholder="Phone Number" class="form-control bg-box-comment">
                                <textarea placeholder="Message" name="" id="" cols="30" rows="6" class="form-control bg-box-comment"></textarea>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <input type="submit" class="btn btn-primary center-block" value="Submit"
                                    style="width: 100%;">
                            </div>
                        
                        </form>
                    </div>
                </div>
            </section>
            <!--  -->
                <div class="more-services-list">
                    <ul>
                        <li class="wow bounceInLeft" data-wow-delay="0.1s">
                            <div class="feature-box sky not-anchor">
                                <div class="media-div"><img src="/static/images/quality-1.png"
                                        alt="Quality Assurance"></div>
                                <h2><span>100%</span> Quality Assurance</h2>
                            </div>
                        </li>
                        <li class="wow bounceInLeft" data-wow-delay="0.2s">
                            <div class="feature-box blue not-anchor">
                                <div class="media-div">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#1e1666" class="bi bi-headset"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                    </svg>
                                </div>
                                <h2><span>100%</span>Customer Support</h2>
                            </div>
                        </li>
                        <li class="wow bounceInLeft" data-wow-delay="0.3s">
                            <div class="feature-box blue not-anchor">
                                <div class="media-div"><img src="/static/images/clients.png"
                                        alt="Client Satisfaction"></div>
                                <h2><span>100%</span> Client Satisfaction</h2>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--  -->
                
                <div class="clearfix"></div>
                <div id="network-design"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                                        
                                        <h2>
                                            Network design, installation, and management
                                        </h2>
                                        <p>
                                            A local area network (LAN) is a collection of devices connected together in one physical location, such as a building,
                                            office, or home. A LAN can be small or large, ranging from a home network with one user to an enterprise network with
                                            thousands of users and devices in an office or school. <br>
                                            Regardless of size, a LAN's single defining characteristic is that it connects devices that are in a single, limited
                                            area. In contrast, a wide area network (WAN) or metropolitan area network (MAN) covers larger geographic areas. Some
                                            WANs and MANs connect many LANs together.
                                        </p>
                                    </div>
                                    <p style="font-weight: bold;color: #e86e33;">
                                        Our services includes
                                    </p>
                                    <ul class="dote">
                                        <li><i class="fad fa-dot-circle"></i>
                                            Local Area Network (LAN)
                                        </li>
                                        <li><i class="fad fa-dot-circle"></i>
                                            Wide Area Network (WAN)
                                        </li>
                                        <li><i class="fad fa-dot-circle"></i>
                                            Metropolitan Area Network (MAN)
                                        </li>
                                        <li><i class="fad fa-dot-circle"></i>
                                            CCTV setups and Installations
                                            </li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid"
                                        src="/static/images/lan.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <div id="software-development"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0" style="background: linear-gradient(#faefea, #fff9f6) ">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-5 wow bounceInLeft">
                                    <img class="img-fluid" src="/static/images/devops.jpg"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                                        <div style="margin-top: 20px;"></div>
                                        <h2>Software development and system integration</h2>
                                        <p>Iconnect brings comprehensive software development and system integration to support your business
                                            models, maximize sales, and build a strong market reputation.</p>
                                    </div>
                                    <p style="font-weight: bold;color: #e86e33;">
                                        Our services includes
                                    </p>
                                    <ul class="dote">
                                        <li><i class="fad fa-dot-circle"></i>Software design and installation</li>
                                        <li><i class="fad fa-dot-circle"></i>Information systems planning and management</li>
                                        <li><i class="fad fa-dot-circle"></i>System Analysis and design</li>
                                    </ul>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </section>

                <!--  -->
                <div id="website-designing"></div>
                <div style="margin-top: 80px;"></div>
                
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Website designing</h2>
                                        <p>
                                            Without a touch of personalization, your website is just another page on the internet. As a proficient website design
                                            company, we promise to create a website that would make your audience put trust in your ability to offer service.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="/static/images/retails-ecommerce.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                    
   
                <!--  -->
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="https://cdn.a3logics.com/images/inner-pages/retails-ecommerce.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>   
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Database design and implementation</h2>
                                        <p>A3logics brings comprehensive e-commerce solutions to support your business
                                            models, maximize sales, and build a strong market reputation.</p>
                                    </div>
                                    <ul class="dote">
                                        <li><i class="fad fa-dot-circle"></i> Order & Billing Management</li>
                                        <li><i class="fad fa-dot-circle"></i> Logistics Management</li>
                                        <li><i class="fad fa-dot-circle"></i> Reporting, Retail Intelligence & Analytics
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="https://cdn.a3logics.com/images/inner-pages/retails-ecommerce.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Top-Notch Services by Ecommerce Software Development Company</h2>
                                        <p>A3logics brings comprehensive e-commerce solutions to support your business
                                            models, maximize sales, and build a strong market reputation.</p>
                                    </div>
                                    <ul class="dote">
                                        <li><i class="fad fa-dot-circle"></i> Order & Billing Management</li>
                                        <li><i class="fad fa-dot-circle"></i> Logistics Management</li>
                                        <li><i class="fad fa-dot-circle"></i> Reporting, Retail Intelligence & Analytics
                                    </ul>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
            <section class="a3-case-study-setion">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="media-div bounceInLeft">
                                <img class="img-fluid"
                                    src="https://cdn.a3logics.com/images/inner-pages/ecommerce-software-solutions.png"
                                    alt="Features of Our Ecommerce Software Solutions">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="heading-block wow bounceInRight">
                                <h2>Features of Our Ecommerce Software Solutions</h2>
                                <ul class="dote">
                                    <li><i class="fad fa-dot-circle"></i> Cloud-Enabled</li>
                                    <li><i class="fad fa-dot-circle"></i> User-Friendly</li>
                                    <li><i class="fad fa-dot-circle"></i> Shipping Awareness</li>
                                    <li><i class="fad fa-dot-circle"></i> Multi-Channel Functionality</li>
                                    <li><i class="fad fa-dot-circle"></i> Security</li>
                                    <li><i class="fad fa-dot-circle"></i> Mobile-Friendly</li>
                                    <li><i class="fad fa-dot-circle"></i> Personalization</li>
                                    <li><i class="fad fa-dot-circle"></i> Product Management</li>
                                    <li><i class="fad fa-dot-circle"></i> SEO Optimized</li>
                                    <li><i class="fad fa-dot-circle"></i> Order Management</li>
                                    <li><i class="fad fa-dot-circle"></i> Integrated Marketing</li>
                                    <li><i class="fad fa-dot-circle"></i> Social Media Support</li>
                                    <li><i class="fad fa-dot-circle"></i> Automatic Backup and Restore</li>
                                    <li><i class="fad fa-dot-circle"></i> Global Language & Currency Support</li>
                                    <li><i class="fad fa-dot-circle"></i> Reporting and Analytics</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
 
        {% include 'footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/bootstrap.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/wow.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/extra.js?v=0.0085"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/jquery-validate/jquery.validate.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/jquery-validate/validation-init.js?v=0.0085"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/js.cookie.min.js"></script>



    </body>

</html>
