<!DOCTYPE html>
<html lang="en">

    <head>
        {% include 'header-link.html' %}
        <title>Our Services | Iconnect company</title>
        
        <meta name="description" content="Top Information and Communication Technology (ICT) services provider i n Tanzania, specifically on internet services provision, ICT equipment supply & installation, and software development.
        " />
        <meta name="keywords" content="Iconnect, our services" />

    </head>

    <body>
        {% include 'header.html' %}
        <main class="ecommerce-software-solutions">
            <section class="page-tile-section">
                <div class="shape-div">
                    <span class="dote dote-orange"></span>
                    <span class="dote dote-gradient"></span>
                    <span class="dote dote-orange right"></span>
                    <span class="dote dote-gradient right"></span>
                    <img class="title-shape-1" src="https://cdn.a3logics.com/images/page-title-shape-1.png"
                        alt="shapes">
                    <img class="title-shape-2" src="https://cdn.a3logics.com/images/page-title-shape-2.png"
                        alt="shapes">
                </div>
                <div class="container-fluid">
                    <div class="title-content">
                        <h1 class="wow bounceInLeft" data-wow-delay="0.1s">Our Services</h1>
                        <p class="wow bounceInLeft" data-wow-delay="0.2s">
                            Top Information and Communication Technology (ICT) services provider, 
                            specifically on internet services provision, ICT equipment supply &
                            installation, and software development.
                        </p>
                        <ul class="wow bounceInLeft" data-wow-delay="0.3s">
                            <li><a href="/">Home - </a></li>
                            <li class="text-last">Our Services</li>
                        </ul>
                    </div>
                    <div class="enquiry-form wow bounceInRight">
                        <h2>
                            Request a service
                        </h2>
                        <form method="post" class="form" id="contact_form" action="/contact-us/">
                            {% csrf_token %}
                            <div>
                                <input id="i1" type="text" name="full_name" placeholder="Full Name" class="form-control bg-box-comment">
                                <input id="i2" type="text" name="company_name" placeholder="Company Name" class="form-control bg-box-comment">
                                <input id="i3" type="text" name="email_address" placeholder="Email Address" class="form-control bg-box-comment">
                                <input id="i4" type="text" name="phone_number" placeholder="Phone Number" class="form-control bg-box-comment">
                                <textarea id="i5" placeholder="Message" name="message" id="" cols="30" rows="6"
                                    class="form-control bg-box-comment"></textarea>
                            </div>
                            <div class="col-sm-12 mt-3">
                                <button type="submit" class="btn btn-primary" style="background-color: #4996cd;width: 100%;">Submit
                                </button>
                            </div>
                        
                        </form>
                        <script>
                            let contactForm = document.getElementById('contact_form')
                            contactForm.addEventListener('submit', function (e) {
                                e.preventDefault();
                                let thisForm = e.target
                                const method = thisForm.getAttribute('method');
                                const endpoint = thisForm.getAttribute('action');
                                let data = new FormData(thisForm);
                                let xhr = new XMLHttpRequest();
                                xhr.open('post', endpoint, true);
                                // console.log(thisForm)
                                // // const csrftoken = getCookie('csrftoken');
                                // // xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
                                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
                                xhr.responseText = 'json'
                                xhr.onload = () => {

                                }

                                i1 = document.getElementById('i1')
                                i2 = document.getElementById('i2')
                                i3 = document.getElementById('i3')
                                i4 = document.getElementById('i4')
                                i5 = document.getElementById('i5')

                                i1.value = ''
                                i2.value = ''
                                i3.value = ''
                                i4.value = ''
                                i5.value = ''
                                alert('Your comment has been sent successfully')
                                xhr.onerror = () => {
                                    alert('There is an error')
                                    // console.log(xhr.error)
                                }
                                xhr.send(data)

                            })
                        </script>
                    </div>
                </div>
            </section>
            <!--  -->
                <div class="more-services-list">
                    <ul>
                        <li class="wow bounceInLeft" data-wow-delay="0.1s">
                            <div class="feature-box sky not-anchor">
                                <div class="media-div"><img src="/static/images/quality-1.png"
                                        alt="Quality Assurance"></div>
                                <h2><span>100%</span> Quality Assurance</h2>
                            </div>
                        </li>
                        <li class="wow bounceInLeft" data-wow-delay="0.2s">
                            <div class="feature-box blue not-anchor">
                                <div class="media-div">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="#1e1666" class="bi bi-headset"
                                        viewBox="0 0 16 16">
                                        <path
                                            d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
                                    </svg>
                                </div>
                                <h2><span>100%</span>Customer Support</h2>
                            </div>
                        </li>
                        <li class="wow bounceInLeft" data-wow-delay="0.3s">
                            <div class="feature-box blue not-anchor">
                                <div class="media-div"><img src="/static/images/clients.png"
                                        alt="Client Satisfaction"></div>
                                <h2><span>100%</span> Client Satisfaction</h2>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--  -->
                
                <div class="clearfix"></div>
                <div id="network-design"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                                        
                                        <h2>
                                            Network design, installation, and management
                                        </h2>
                                        <p>
                                            A local area network (LAN) is a collection of devices connected together in one physical location, such as a building,
                                            office, or home. A LAN can be small or large, ranging from a home network with one user to an enterprise network with
                                            thousands of users and devices in an office or school. <br>
                                            Regardless of size, a LAN's single defining characteristic is that it connects devices that are in a single, limited
                                            area. In contrast, a wide area network (WAN) or metropolitan area network (MAN) covers larger geographic areas. Some
                                            WANs and MANs connect many LANs together.
                                        </p>
                                    </div>
                                    <p style="font-weight: bold;color: #e86e33;">
                                        Our services includes
                                    </p>
                                    <ul class="dote">
                                        <li><i class="fad fa-dot-circle"></i>
                                            Local Area Network (LAN)
                                        </li>
                                        <li><i class="fad fa-dot-circle"></i>
                                            Wide Area Network (WAN)
                                        </li>
                                        <li><i class="fad fa-dot-circle"></i>
                                            Metropolitan Area Network (MAN)
                                        </li>
                                        <li><i class="fad fa-dot-circle"></i>
                                            CCTV setups and Installations
                                            </li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid"
                                        src="/static/images/lan.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <div id="software-development"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0" style="background: linear-gradient(#faefea, #fff9f6) ">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-5 wow bounceInLeft">
                                    <img class="img-fluid" src="/static/images/devops.jpg"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                                        <div style="margin-top: 20px;"></div>
                                        <h2>Software development and system integration</h2>
                                        <p>Iconnect brings comprehensive software development and system integration to support your business
                                            models, maximize sales, and build a strong market reputation.</p>
                                    </div>
                                    <p style="font-weight: bold;color: #e86e33;">
                                        Our services includes
                                    </p>
                                    <ul class="dote">
                                        <li><i class="fad fa-dot-circle"></i>Software design and installation</li>
                                        <li><i class="fad fa-dot-circle"></i>Information systems planning and management</li>
                                        <li><i class="fad fa-dot-circle"></i>System Analysis and design</li>
                                    </ul>
                                </div>
                        
                            </div>
                        </div>
                    </div>
                </section>

                <!--  -->
                <div id="website-designing"></div>
                <div style="margin-top: 80px;"></div>
                
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Website designing</h2>
                                        <p>
                                            Without a touch of personalization, your website is just another page on the internet. As a proficient website design
                                            company, we promise to create a website that would make your audience put trust in your ability to offer service.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="/static/images/retails-ecommerce.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>                    
   
                <!--  -->
                <div id="database"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="/static/images/database-2394312_1920.jpg"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>   
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Database design and implementation</h2>
                                        <p>We produce database systems. That meet the requirements of the users. Have high performance.</p>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
                <div id="equipment"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Supply of new ICT equipment</h2>
                                        <p>Desk computers, laptops, photocopiers, scanners, pad phones, lamination Machines, faxes, modems and other electronic and
                                        networking devices.</p>
                                    </div>
                                </div>
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="/static/images/imac-1999636_1920.png"
                                        alt="Top-Notch Services by Ecommerce Software Development Company">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="radio"></div>
                <div style="margin-top: 80px;"></div>
                <section class="welcomes-unique-section pt-0">
                    <div class="container-fluid">
                        <div class="welcomes-unique-contant">
                            <div class="row align-items-center">
                                <div class="col-lg-5 wow bounceInRight">
                                    <img class="img-fluid" src="/static/images/digital-camera-33879_1280.png"
                                        alt="Production of TV and Radio Programs">
                                </div>
                                <div class="col-lg-7">
                                    <div class="heading-block wow fadeInUp">
                
                                        <h2>Production of TV and Radio Programs Company</h2>
                                        <p>Production of TV and Radio programs concerning various Functions, activities, events, documentary programs, projects And
                                        implementation of policies, jingles, TV and radio Educational Programs..</p>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </section>
                <!--  -->
            <div id="training"></div>
            <div style="margin-top: 80px;"></div>
            <section class="welcomes-unique-section pt-0">
                <div class="container-fluid">
                    <div class="welcomes-unique-contant">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="heading-block wow fadeInUp">
            
                                    <h2>Training on how to use professional and technical Software</h2>
                                    <p>Training is done on tailor made course base, conducting seminars and Consultancy.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 wow bounceInRight">
                                <img class="img-fluid" src="/static/images/training-6135430_1920.jpg"
                                    alt="Top-Notch Services by Ecommerce Software Development Company">
                            </div>
            
            
                        </div>
                    </div>
                </div>
            </section>
            <div id="mantainance"></div>
            <div style="margin-top: 80px;"></div>
            <section class="welcomes-unique-section pt-0">
                <div class="container-fluid">
                    <div class="welcomes-unique-contant">
                        <div class="row align-items-center">
                            <div class="col-lg-5 wow bounceInRight">
                                <img class="img-fluid" src="/static/images/laptop-2434393_1920.jpg"
                                    alt="Production of TV and Radio Programs">
                            </div>
                            <div class="col-lg-7">
                                <div class="heading-block wow fadeInUp">
            
                                    <h2>PC and Office machines maintenance</h2>
                                    <p>Maintenance and repair of computers, UPS, photocopiers, printers, scanners and other ICT devices. Software installation
                                    both: operation and application software.</p>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </section>
        </main>
 
        {% include 'footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/bootstrap.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/wow.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/extra.js?v=0.0085"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/jquery-validate/jquery.validate.min.js"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/jquery-validate/validation-init.js?v=0.0085"></script>
        <script src="https://cdn.a3logics.com/utility/jsnew/js.cookie.min.js"></script>



    </body>

</html>
